p {
margin-top: 30px;
margin-bottom: 1rem;
padding-top: 30px;
padding-bottom: 20px;
}

#result {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 1rem;
    width: 500px;
    height: 150px;
}

/* #form {
    width: 150px;
    height: 50px;
} */