<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
    <title>Very cool currency converter!</title>
</head>
<body>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">Very cool currency converter!</h1>
  </div>
</div>

<h6 style= "text-align:center;">This program converts MYR to USD, JPY or SGD!</h6>
<p style= "text-align:center;">What's your MYR amount?</p>

<form action="/convert" method="POST">
  <div class="form-row justify-content-center">
    <div class="col-3">
      <input type="text" class="form-control" placeholder="RM">
    </div>
  </div>
</form>

<p style= "text-align:center;">Please select your currency</p>

<div class="container">
  <div class="row">
    <div class="col-sm text-center">
      <button type="button" class="btn btn-light btn-lg btn-block" id="usd">US Dollar (USD)</button>
    </div>
    <div class="col-sm text-center">
      <button type="button" class="btn btn-light btn-lg btn-block" id="jpy">Japanese Yen (JPY)</button>
    </div>
    <div class="col-sm text-center">
      <button type="button" class="btn btn-light btn-lg btn-block" id="sgd">Singapore Dollar (SGD)</button>
    </div>
  </div>
</div>


<textarea readonly id="anything" placeholder="Result for USD, JPY, SGD"></textarea>
</body>
</html>